<!DOCTYPE html>
<html>
<head>
<title>Tag cloud</title>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style type="text/css"></style>

</head>
<body>
  <section>
    <div class="container">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
      <script src="../public/d3.layout.cloud.js"></script>
      <script src="../public/tag_cloud.js", type='text/javascript'></script>
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2> Tag cloud </h2>
          </div>
          <div class="panel-body" style="background: white; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 1px solid #eee;">
            <input type="file" id="fileInput">
            <div id="tag_vis"></div>
          </div>
          <pre id="fileDisplayArea"><pre>

        </div>
      </div>
    </div>
  </section>

</body>
</html>
